@import './common/setting.scss';
@import './application.scss';

@import './header.scss';
@import './menu.scss';
@import './footer.scss';
@import './home.scss';

@import './news.scss';
@import './productdetail.scss';

@import './loading.scss';
@import './menu.scss';
@import './static-page.scss';

button {
  background-color: transparent;
  border: none;
}
//Chat
.theme-background-color {
  background-color: $primary;
}

.slick-slide {
  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.product-card__new-arrival {
  z-index: 1;
}

.banner__img {
  display: flex;
  justify-content: center;
  position: static;
}

.product-card__image {
  position: relative;
}

.product-card__name {
  text-transform: none;
}

.product-card .ribbon {
  z-index: 1;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1270px;
  }
}

.my-orders__item {
  grid-template-columns: 4fr 1fr;

  .my-orders__invoice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.my-orders__filter {
  padding: 0;
}

.Mui-error .makeStyles-stepIconRoot-6 {
  background: linear-gradient(102.04deg, #c31e1e 0%, #f00 100%);
}

.product .product__image {
  background-position: inherit;
}

.cart-item__qty {
  max-width: 9.25em;
}

.cart-item-img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.cart-item__name {
  -webkit-line-clamp: 2;
  text-transform: initial;
}

.product-card .ribbon.price_down {
  width: fit-content;

  .ribbon-percent {
    white-space: nowrap;
  }
}
