@import './common/setting.scss';
@import './application.scss';

@import './header.scss';
@import './footer.scss';
@import './home.scss';

@import './news.scss';
@import './productdetail.scss';

@import './loading.scss';

@import './common/image.scss';
button {
  background-color: transparent;
  border: none;
}
//Chat
.theme-background-color {
  background-color: $primary;
}

.slick-slide {
  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.product-card__new-arrival {
  z-index: 1;
}

.banner__img {
  display: flex;
  justify-content: center;
  position: static;
}

.product-card__image {
  position: relative;
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1270px;
  }
}

.my-orders__item {
  grid-template-columns: 4fr 1fr;

  .my-orders__invoice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.my-orders__filter {
  padding: 0;
}
