@import './setting.scss';
@import './application.scss';

@import './header.scss';
@import './footer.scss';
@import './home.scss';

button {
  background-color: transparent;
  border: none;
}
//Chat
.theme-background-color{
  background-color: $primary;
}