.header-menu {
  .sub-menu-lv1 {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border-radius: 10px;
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 0;
    li {
      position: static;
    }
    .container-sub-menu {
    }
    .list-sub-menu-lv1 {
      background: #fff;
      display: inline-block;
      width: 25%;
    }
    .dropdown-item {
    }
    .sub-menu-text {
    }
    .dropdown-sub-menu {
    }
  }
  .sub-menu-lv2 {
    &.list-sub-menu {
      top: 0;
      right: 0;
      left: auto;
      width: 75% !important;
      box-shadow: none;
      border-radius: 0;
      height: 100%;
      margin: 0;
      border-left: 3px solid #1476fb;
      z-index: 1;
      padding: 20px 37px;
    }
  }
}
// .dropdown-menu.sub-menu {
//   width: 100%;
//   background: transparent;
//   box-shadow: none;
//   border-radius: 10px;
//   /* overflow: hidden; */
//   margin: 0 !important;
//   padding: 0;
// }

// li.rockland-nav__item.dropdown {
//   position: static;
// }

// ul.dropdown-menu-1 {
//   background: #fff;
//   display: inline-block;
//   width: 25%;
// }

.container-submeu {
  position: relative;
}

.container-submeu .dropdown {
  position: static;
}

// li.dropdown-item:hover {
//   background: #1476fb;
// }

// li.dropdown-item:hover a {
//   color: #fff;
// }

li.mb-2.dropdown-item a {
  font-size: 14px;
  padding: 0;
  color: var(--dark);
}

li.mb-2.dropdown-item:hover .sub-menu-text:after {
  content: '';
  right: auto;
  left: 100%;
  position: absolute;
  z-index: 9;
  border: 20px solid transparent;
  height: 100%;
  display: block;
  width: 10px;
  top: 0;
  border-left-color: #1476fb;
  margin-left: 3px;
}

.sub-menu-text {
  position: relative;
  padding: 0.5rem 1.5rem;
  z-index: 999;
}

li.mb-2.dropdown-item {
  padding: 0 !important;
}

ul li.mb-2.dropdown-item:last-child {
  margin-bottom: 0 !important;
}

.dropdown.dropdown-nav:hover > .dropdown-menu {
  display: block !important;
  width: 100%;
  padding: 10px;
  height: auto;
}

.dropdown-sub-menu {
  position: absolute;
  left: 100%;
  top: -20%;
  padding: 10px;
  width: auto;
  height: auto;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-item-icon {
  padding-right: 1rem;
}

.dropdown-item:active {
  color: $primary;
  background-color: var(--light);
}
