.business-license-img {
  max-height: 300px;
  object-fit: contain;
}
.my-account__user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .license-img-mobile {
    max-width: 320px;
  }
}

$border-radius: 0.25rem;

$certificate-size: 100px;

.certificate-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, $certificate-size);
  gap: 16px;

  .certificate-image-button {
    transition: transform 0.15s ease-in-out;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      transform: translateY(-2px);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(47 59 151 / 25%);
    }
  }

  img {
    object-fit: cover;
    border-radius: $border-radius;
    width: $certificate-size;
    height: $certificate-size;
  }

  .add-image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $certificate-size;
    height: $certificate-size;
    border: 1px solid #ced4da;
    border-radius: $border-radius;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      color 0.15s ease-in-out, transform 0.15s ease-in-out;
    color: #6c757d;

    div {
      font-size: 13px;
      margin-top: 6px;
    }

    &:hover,
    &:focus {
      border-color: $blue;
      color: $blue;
      transform: translateY(-2px);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(47 59 151 / 25%);
    }
  }
}
