
@media screen and (min-width: 876px){
  .col-left__divider{
    border-left: 1px solid $gray-300;
  }
}

.post-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.3s linear;
  margin: 0 0 1rem;
}
.post-item:hover {
  box-shadow: 1px 2px 3px $gray-600;
}
.post-item:hover .post-item__badge-wrapper{
  background: $primary;
}
.post-item:hover .post-item__badge-day,
.post-item:hover .post-item__badge-month{
  color: $white;
}
.post-item:hover .post-item__content-description{
  color: $gray-800;
}
.post-item__img{
  position: relative;
  height: auto;
  overflow: hidden;
  // padding-top: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
.post-item__img-item{
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}
.post-item__badge{
  display: table;
  position: absolute;
  top: 7%;
  left: 0;
  pointer-events: none;
}
.post-item__content{
  padding: 0.75rem 1rem;
}
.post-item__content-title{
  text-align: center;
  font-size: 1.15em;
  line-height: 1.3;
  color: $gray-800;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-item__content-divider{
  margin: 0.5rem auto;
  height: 2px;
  width: 100%;
  max-width: 30px;
  background: $gray-300;
}
.post-item__badge-wrapper{
  display: table-cell;
  background: $white;
  line-height: 0.85;
  width: 100%;
  height: 100%;
  border: 2px solid $primary;
  padding: 0.5rem;
  transition: 0.3s linear;
}
.post-item__content-description{
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  color: $gray-600;
  transition: 0.3s linear;
}
.post-item__badge-day, .post-item__badge-month{
  color: $primary;
  transition: 0.3s linear;
  font-weight: bold;
}
.post-item__badge-month{
  font-size: 0.7rem;
}
.news-search{
  display: flex;
  margin-bottom: 1rem;
}
.news-search__input{
  box-sizing: border-box;
  border: 1px solid $gray-300;
  padding: 0 0.75em;
  height: 2.507em;
  font-size: 0.97em;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: $white;
  color: $gray-800;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s linear;
  flex: 1;
}
.news-search__button{
  background: $primary;
  min-width: 2.5em;
  color: $white;
}
.resent-post-item{
  margin-bottom: 0.3rem;
  border-bottom: 1px solid $gray-300;
  color: $primary;
}
.resent-post__link{
  color: $primary;
  transition: 0.3s linear;
  cursor: pointer;

}
.resent-post__link:hover,
.resent-post__link:active{
  color: $black;
}
.news-banner, .recent-post {
  width: 100%;
  text-align: left;
  display: block;
} 
.news__title{
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}
.news__divider{
  margin: 0.75rem 0;
  text-align: left;
  height: 3px;
  width: 100%;
  max-width: 30px;
  background: $gray-400;
}
.news-banner__img{
  max-width: 300px;
  width: 100%;
}
.news-rencent-post{
  list-style: none;
}
.recent-post .list-unstyled .resent-post-item:last-child{
  border: none;
}
.news-sidebar{

}
.news-detai{
  width: 100%;
  text-align: center;
}
.news-header{
  padding: 0 1rem 1rem;
}
.news-header__category{
  text-align: center;
  margin-bottom: 0.5rem;
}
.news-header__link{
  line-height: 1.05;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: inline-block;
  color: $primary;
  cursor: pointer;
}

.news-header__poston{
  text-align: center;
  font-size: 0.7em;
  color: $gray-600;
  text-transform: uppercase;
}