.pledge {
  display: flex;
  align-items: center;
  padding: 6px;
}
.pledge_item {
  width: 60px;
  padding: 0 5px;
}
.pledge_content {
  color: #343a40;
  font-size: 0.9em;
}

.product__image .ribbon {
  --c-price-up-background: #f5b700;
  --c-price-down-background: #f5b700;
  --c-price-up-text: #{$white};
  --c-price-down-text: #{$white};
  --ribbon-width: 4.4em;
  display: flex;
  flex-direction: column;
  width: var(--ribbon-width);
  height: 2.2em;
  padding: 0.25em;
  position: absolute;
  top: 0;
  right: 10%;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.product__image .ribbon-percent {
  font-size: 1.3em;
  overflow: hidden;
}
.product__image .ribbon-percent--small {
  font-size: 1em;
}
.product__image .ribbon-status {
  color: white;
}
.product__image .ribbon.price_up {
  color: var(--c-price-up-text);
  background-color: var(--c-price-up-background);
}
.product__image .ribbon.price_up:after {
  border-left-color: var(--c-price-up-background);
  border-right-color: var(--c-price-up-background);
}
.product__image .ribbon.price_down {
  border-radius: 0 0 0.7em 0.7em;
  color: var(--c-price-down-text);
  background-color: var(--c-price-down-background);
}
.product__image .ribbon.price_down:after {
  border-left-color: var(--c-price-down-background);
  border-right-color: var(--c-price-down-background);
}

.product-img-magnifier > div > img {
  min-height: 20em;
  max-height: 300px;
  object-fit: contain;
  pointer-events: none;
}

.social-share-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.social-share-button {
  overflow: visible !important;
  align-items: center;
  margin-right: 10px;

  img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
  }

  span {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

.facebook-button {
  background-color: rgb(59, 89, 152);

  &:hover {
    background-color: rgba(59, 89, 152, 0.9);
  }
}

.zalo-button {
  background-color: rgb(182, 209, 221);

  &:hover {
    background-color: rgba(182, 209, 221, 0.8);
  }
}
.grid-sub-image {
  cursor: pointer;
  position: relative;
  margin-right: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.border-sub__image_lastimage {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.border-sub__image.active > img {
  border: 1px solid #35409a;
  border-radius: 4px;
}

.border-sub__image_lastimage > span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 9px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

button.slide-arrow-image.slick-arrow.prev-arrow,
.banner button.slide-arrow-image.slick-arrow.prev-arrow {
  left: 0;
}

button.slide-arrow-image.slick-arrow,
.banner button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow,
.banner button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow.next-arrow,
.banner button.slide-arrow-image.slick-arrow.next-arrow {
  right: 0;
}

button.slide-arrow-image.slick-arrow,
.banner button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow,
.banner button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
button.slide-arrow-image.slick-arrow,
.banner button.slide-arrow-image.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  background-color: rgba(52, 58, 64, 0.5);
  height: 40px;
  border: 1px solid #bfc0c2;
}
.heart-icon-wrap {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  box-shadow: rgb(47 83 151 / 10%) 0px 2px 6px 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-left: 12px;
  cursor: pointer;
  background: white;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  div > img.img-fluid {
    display: none;
  }
  .makeStyles-root-1 {
    display: none;
  }
}
