.quickOrder{
    padding-top: 1.7rem !important;
}
.search-quick-order__no-products p{
    font-weight: bold;
    display: inline;
}
.discount__quick-order{
    position: relative;
}
.discount__quick-order .discount__quick-order-percent{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f5b700;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
