ul.list-group, ol.list-group{
    padding-left: 30px;
}

ul.list-group {
    .upper-roman-list {
        list-style-type: upper-roman;
    }
    .lower-roman-list {
        list-style-type: lower-roman;
    }
    .decimal-list {
        list-style-type: decimal;
    }
    .lower-alpha-list {
        list-style-type: lower-alpha;
    }
}
