.zalo-chat-widget {
  left: 5px !important;
  bottom: 140px !important;
  transform: scale(1.25) translateX(10%) translateY(-8%);
}
@media (max-width:769px) {
  .zalo-chat-widget {
    left: 8px !important;
  }
}